
{% extends "main/base.html" %}

{% block title %}
댓글 수정
{% endblock %}

{% block content %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/board_detail.css" %}" type="text/css" />
{% endblock %}

{% load bootstrap4 %}


  <!--제목,분류,작성일-->
  
    <!--작성자, 조회수-->
    <div class="ArticleContentBox">

          <div class="article_header">
            <div class='ariticle_title'>
            {{ board.title }}
            </div>
            
          </div>

          <div class='article_container'>
            
        
            <p style="border-style: groove;border-color: #1465AA;border-width: thin;"></p>
            <div>
              <div>
                <!-- <pre class='fontfont'>{{ board.body }}</pre> -->
                {{board.content | linebreaksbr}}
              </div>
            <p style="border-style: groove;border-color: #1465AA;border-width: thin;"></p>
            </div>
            <div class='comment_wrapper'>
              <div class='comment_head'>
                댓글 <i class="iconify" data-icon="akar-icons:comment"></i>
              </div>
              {% for comment in comments %}
              {% if comment.id == my_comment.id %}
            <div class="card my-4">
              <div class="comment_form_head">댓글 수정</div>
              <div class="comment_form_body">
                  <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">{{ comment_form }}</div>
                      <button type="submit" class="btn btn-dark">수정 완료</button>
                  </form>
              </div>
            </div>
              {% else %}
              <div class='comment_box'>
                {{comment.author}} : {{comment.text}}
                <p style="border-style: groove;border-color: #1465AA;border-width: thin;"></p>
              </div>
              {% endif %}
              {% endfor %}
              
              <div class>

              </div>

              </div>
            </div>
            
          
          <div>
            {% if user == free_board.writer %}
            <button class="btn btn-dark" onclick="location.href='/free/{{ free_board.id }}/edit'">수정하기</button>
            <button class="btn btn-dark" onclick="location.href='/free/{{ free_board.id }}/delete/'">삭제하기</button>
            {% endif %}
            <button class="btn btn-dark">
              <a href="{% url 'free:free_list' %}">돌아가기</a>
              </button>
          </div>
        </div>




  {% endblock %}
