<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title%}Default title{% endblock %}</title>
        {% load static %}
        

        <!-- BOOTSTRAP LINK -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <!-- DEFUALT CSS LINK -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <!-- Footer Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- icon -->
        <script src="https://kit.fontawesome.com/4903e3c247.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/4764f4dcde.js" crossorigin="anonymous"></script>
        <link
          rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
        
        />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

        <style>
        body {
        cursor: none;
        }
        </style>

    </head>
<body>

  <div class="cursor"></div>
  <div class="cursor2"></div>

  <script>
    var cursor = document.querySelector(".cursor");
    var cursor2 = document.querySelector(".cursor2");
    document.addEventListener("mousemove",function(e){
      cursor.style.cssText = cursor2.style.cssText = "left: " + e.clientX + "px; top: " + e.clientY + "px;";
    });
  </script>

  <div class="wrap_content">
    <!-- 모든 페이지에 공통으로 들어갈 요소 -->

<nav style="background: transparent;padding:0;box-shadow: 4px 4px 4px 4px #1465AA;" class="navbar fixed-top navbar-expand-md navbar-light">
            <ul class='nav navbar-nav w-100 justify-content-start'>
              <li style="width:10%;" class="nav-item">
                <a class="nav-link active " href="{% url 'main:index' %}"><img style='width:100%;' src="/static/imgs/nav_logo.png" alt="sleep"></a>
              </li>
            </ul>
            <ul class="nav navbar-nav w-100 justify-content-center">
              <li class="nav-item">
                <a style="color:black;" class="nav-link active " aria-current="page" href="{% url 'article:board_list' %}">팀업 게시판</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link active" href="{% url 'free:free_list' %}">자유 게시판</a>
              </li>
              </ul>

              {% if user.is_authenticated %}
              <ul  class="nav navbar-nav  w-100 justify-content-end">
              <li style="color:#1465AA;" class="nav-item">
                {{user.username}} 님 반갑습니다!
              </li>
              <li class="nav-item">
                <button  class="btn btn-dark">
                  <a href="{% url 'user:logout' %}">로그아웃</a>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-dark">                  
                  <a href="{% url 'user:mypage' %}">마이페이지</a>
                </button>
              </li>
              </ul>
              {% else %}
              <ul  class="nav navbar-nav  w-100 justify-content-end">
              <li class="nav-item">
                <button class="btn btn-primary">
                  <a style="color:white;" href="{% url 'user:login' %}">로그인</a>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-primary">
                  <a style="color:white;" href="{% url 'user:register' %}">회원가입</a>
                </button>
              </li>
              </ul>
              {% endif %}
      </nav> 
    </div>



      
    
    {% block content %} 
    {% endblock %}  

    <a style = 'display:scroll;position:fixed;bottom:10%;right:5%;color:black;' href="#" title='Top'>
      맨 위로 
      <span class="iconify" data-icon="carbon:back-to-top" data-inline="false"></span>
    </a>

    <div class="footer-basic">
      <div class="social">LikeLion-Kookmin/it-s_okay<a href="https://github.com/likelion-kookmin/It-s_okay"><i class="icon ion-social-github"></i></a></div>
      <div class="social"><b>Contributors : </b><br>
        Kijung Lee<a href="https://github.com/kkIIun"><i class="icon ion-social-github"></i></a>
        Seyeon Jang<a href="https://github.com/Seyom"><i class="icon ion-social-github"></i></a>
        Soye Kwon <a href="https://github.com/soyekwon"><i class="icon ion-social-github"></i></a>
        Junyub Kim <a href="https://github.com/jun-yub-kim"><i class="icon ion-social-github"></i></a>
        SeungHwan Lee<a href="https://github.com/sh981013s"><i class="icon ion-social-github"></i></a>
      </div>
    </div>

</body>
</html>
