
{% extends 'main/base.html' %}
{% block content %}
<div>
    <!-- 텍스트 영역 -->
    <div class="text-area">
        <h1>
            <div class="volume">vol.4</div>
            <div class="title">Classics<div class="line"></div><br> never<br> get old</div>
        </h1>
        <p>This page is an index<br> used html, css only</p>
    </div>
    <div id="circle-wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <div id="badge">
        Ex-<br>
        clusive
    </div>
</div>
{% endblock %}
