
{% extends 'main/base.html' %}
{% block content %}
<div>

    <!-- 텍스트 영역 -->
    <div class="text-area">
        <p>
            <div class="volume"><p class='FL'>쿨해도<br></p> <div class ='FL'>&nbsp;&nbsp;괜찮아<br></div><div class="hanbun">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;한번 보고 안 볼 사이니까...</div></div>
            <!-- <div class="title">한번 보고 안 볼 사이니까...<div class="line"></div><br> never<br> get old</div> -->
        </p>
    </div>
    <div id="circle-wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <div class='footer'>
        asdasdasdad
    </div>
    
</div>
{% endblock %}
