{% extends 'main/base.html' %}
{% block content %}

<section class='register1'>
    <div class='box'>
        <div class='form'>
            <h2>회원가입</h2>
            <form method="POST" action=".">
                {% csrf_token %}
                <div class='inputBx'>
                    <input type='text' name='username'id='username' placeholder='아이디'>
                    <i style="position:absolute;top:15px;left:10px;" class="iconify" data-icon="bi:person-fill"></i>
                </div>
                <div class='inputBx'>
                    <input type='password' name='password' id='password' placeholder='비밀번호'>
                    <i style="position:absolute;top:15px;left:10px;" class="iconify" data-icon="ri:lock-password-fill"></i>
                </div>
                <div class="row mt-5">
                    <div style="color:white;" class="col-12">
                        {{error}}
                    </div>
                </div>
                <div class='inputBx'>
                    <input type="submit" style="background-color:white;color:#111;font-weight: 1em;"type='submit' value="로그인">
                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        아이디가 없으신가요? <a href="{% url 'user:register' %}" class="ml-2">회원가입</a>
                    </div>
    
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}