{% extends 'main/base.html' %}
{% block content %}

{% block title %}
회원가입
{% endblock %}


<div >
<section class='register1'>
    <div class='box'>
        <div class='form'>
            <h2>회원가입</h2>
            <form method="POST" action=".">
                {% csrf_token %}
                <div class='inputBx'>
                    <input type='text' name='username'id='username' placeholder='희망 사용자 아이디'>
                    <i style="position:absolute;top:15px;left:10px;" class="iconify" data-icon="bi:person-fill"></i>
                </div>
                <div class='inputBx'>
                    <input type='password' name='password' id='password' placeholder='희망 비밀번호'>
                    <i style="position:absolute;top:15px;left:10px;" class="iconify" data-icon="ri:lock-password-fill"></i>
                </div>
                <div class='inputBx'>
                    <input type='password' name='re_password' id='re_password' placeholder='비밀번호 재입력'>
                    <i style="position:absolute;top:15px;left:10px;" class="iconify" data-icon="ri:lock-password-fill"></i>
                </div>
                <div class="row mt-5">
                    <div style="color:white;" class="col-12">
                        {{error}}
                    </div>
                </div>
                <div class='inputBx'>
                    <input type="submit" style="background-color:white;color:#111;font-weight: 1em;"type='submit' value="회원가입">
                </div>
            </form>
        </div>
    </div>
</section>
</div>

{% endblock %}